# Development
# =============================

*.sublime-project
*.sublime-workspace
*.log
*cache
*.pyc

# icons/
# aliases/
# preferences/
node_modules/

# OS
# =============================

.DS_Store
